@media (max-width: 1200px)
   .menu
      &_item
         padding-right: 20px
      &_link
         font-size: 13px   
   .promo
      &_header
         font-size: 55px
      &_subheader
         font-size: 35px         
   .reasons
      &_block
         align-items: flex-start  
   .mobile
      &_item
         width: 308px

@media (max-width: 991px)   
   .menu
      &_item
         padding-right: 10px
      &_link
         font-size: 10px                  
   .subheader 
      &_logo
         img
            width: 100%
      &_official
         font-size: 11px
      &_phone
         font-size: 20px
      &_btn
         width: 100%
         height: 42px
         margin-top: 20px
   .promo
      &_header
         font-size: 40px
      &_subheader
         font-size: 26px         
   .reasons
      &_block
         flex-direction: column
         align-items: center  
      &_descr
         margin-top: 20px
      &_icon
         margin-right: 0
   .mobile
      &_item
         width: 232px     

@media (max-width: 767px)
   .menu
      position: fixed
      flex-direction: column
      justify-content: center
      align-items: center
      top: 0
      left: -100%
      width: 50%
      height: 100vh
      padding: 20px 15px
      background-color: rgba(0,0,0, .8)
      transition: 0.6s all
      &_active 
         left: 0
      &_item
         padding-right: 0
         border: none
         margin: 10px 0
      &_link
         font-size: 20px  
   .hamburger
      display: block
      position: absolute
      right: 10px
      top: 50%
      transform: translateY(-50%)
      width: 26px
      height: 12px
      span
         display: block
         height: 2px
         width: 100%
         background-color: #fff
         margin-bottom: 2px
         transition: 0.5s all
      &_active
         span
            margin-bottom: -2px
            &:nth-child(1)
               transform: translateY(3px) rotate(-45deg)
            &:nth-child(2)
               display: none
            &:nth-child(3)
               transform: translateY(3px) rotate(45deg)
   .xs-hidden
      display: none
   .xs-visible
      display: block
   .subheader
      &_phone
         display: block
         color: #FFFFFF
         font-weight: 400
         font-size: 18px
         text-align: center
         margin-top: 11px
      &_btn
         display: block
         margin: 10px auto 0
         width: 190px
         height: 40px
   .promo
      padding-top: 130px
      &_header
         font-size: 36px
         line-height: 45px
      &_subheader
         font-size: 23px
   .mobile
      &_item 
         margin: 10px 0 20px


@media (max-width: 575px)
   header
      height: 32px
   nav
      height: 32px
   .subheader
      top: 32px
      height: 60px
      &_official
         display: none
      &_logo
         margin-top: 17px
      &_phone
         font-weight: 400
         font-size: 12px
         margin-top: 11px
      &_btn
         width: 110px
         height: 22px
         font-size: 10px
         margin-top: 6px
   .promo
      min-height: 400px
      padding: 95px 0 35px
      &_header
         font-size: 30px
         padding: 0 24px
         line-height: 35px
      &_subheader
         font-size: 20px
         margin-top: 33px
         padding: 0 10px
         line-height: 30px
      &_descr
         display: none
      &_btn
         margin-top: 72px
         width: 210px
         height: 50px
         font-size: 16px   
   .menu
      width: 85%     
   .reasons
      &_descr
         width: 100%
         margin-top: 27px
      &_block
         margin-top: 26px
      &_icon
         width: 100px
         height: 100px
      &_subtitle
         font-size: 16px   
   .title
      font-size: 16px
      margin-top: 15px
      line-height: 16px         
   .mobile
      padding: 36px 0 44px
      &_item
         padding: 81px 40px 0 40px
         width: 290px
         height: 254px  
         &_subtitle
            font-size: 18px
            line-height: 31px 
      &_subtitle
         font-size: 14px
         line-height: 21px
         margin-top: 6px
